doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title World Wide Web
  body
    .header
      h1.page-title CO2 Meter RAD102-7

    .main-content
      script.
        function update() {
          console.log('something')
          navigator.bluetooth.requestDevice({ filters: [{ services: ['12341000-1234-1234-1234-123456789abc', 0x2A6E, 0x2904] }] })
          .then(device => device.gatt.connect())
          .then(server => {
            // Getting Battery Service...
            return server.getPrimaryService('12341000-1234-1234-1234-123456789abc');
          })
          .then(service => {
            // Getting Battery Level Characteristic...
            return service.getCharacteristic(0x2a6e);
          })
          .then(characteristic => {
            // Reading Battery Level...
            return characteristic.readValue();
          })
          .then(value => {
            console.log('Battery percentage is ' + value.getUint8(0));
            document.getElementById("content").innerHTML = "CO2 Value: " + value.getUint16(0);
          })
          .catch(error => {
            console.log(error);
            alert(error);
          });
        }

      #content!= title
      input(type="button",value="Update",onclick="update()")

    .footer
      p CO2 Bluetooth Value
